In [2]:
import xgboost as xgb
import json
import pandas as pd
import numpy as np

model = xgb.XGBClassifier()
is_model_load = False
weight = {}
is_weight_load = False
df = pd.DataFrame()
is_df_load = False

In [3]:

df = pd.read_csv('DataVis.csv')

In [4]:
df.head(5)

,Unnamed: 0,coords,timestamp_date,year,duration,type_PM2.5,type_การเดินทาง,type_กีดขวาง,type_คนจรจัด,type_คลอง,...,หนองแขม,หลักสี่,ห้วยขวาง,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,"100.66709,13.67891",2021-09-19 14:56:08,2021,274.725706,0,0,0,0,0,...,False,False,False,False,False,False,True,False,False,False
1,1,"100.52649,13.72060",2021-09-26 05:03:52,2021,252.842593,0,0,0,0,0,...,False,False,False,False,False,False,True,False,False,False
2,2,"100.59165,13.82280",2021-12-09 12:29:08,2021,245.784444,0,0,0,0,0,...,False,False,False,False,False,False,False,True,False,False
3,3,"100.64690,13.67083",2021-12-18 14:50:52,2021,1073.560266,0,0,0,0,0,...,False,False,False,False,False,True,False,False,False,False
4,4,"100.65440,13.68158",2021-12-22 10:15:33,2021,180.122581,0,0,0,0,0,...,False,False,False,False,False,False,False,False,False,True

In [5]:
df.columns

Index(['Unnamed: 0', 'coords', 'timestamp_date', 'year', 'duration',
       'type_PM2.5', 'type_การเดินทาง', 'type_กีดขวาง', 'type_คนจรจัด',
       'type_คลอง', 'type_ความปลอดภัย', 'type_ความสะอาด', 'type_จราจร',
       'type_ต้นไม้', 'type_ถนน', 'type_ทางเท้า', 'type_ท่อระบายน้ำ',
       'type_น้ำท่วม', 'type_ป้าย', 'type_ป้ายจราจร', 'type_ร้องเรียน',
       'type_สอบถาม', 'type_สะพาน', 'type_สัตว์จรจัด', 'type_สายไฟ',
       'type_ห้องน้ำ', 'type_เสนอแนะ', 'type_เสียงรบกวน', 'type_แสงสว่าง',
       'คลองสาน', 'คลองสามวา', 'คลองเตย', 'คันนายาว', 'จตุจักร', 'จอมทอง',
       'ดอนเมือง', 'ดินแดง', 'ดุสิต', 'ตลิ่งชัน', 'ทวีวัฒนา', 'ทุ่งครุ',
       'ธนบุรี', 'บางกอกน้อย', 'บางกอกใหญ่', 'บางกะปิ', 'บางขุนเทียน',
       'บางคอแหลม', 'บางซื่อ', 'บางนา', 'บางบอน', 'บางพลัด', 'บางรัก',
       'บางเขน', 'บางแค', 'บึงกุ่ม', 'ปทุมวัน', 'ประเวศ', 'ป้อมปราบศัตรูพ่าย',
       'พญาไท', 'พระนคร', 'พระโขนง', 'ภาษีเจริญ', 'มีนบุรี', 'ยานนาวา',
       'ราชเทวี', 'ราษฎร์บูรณะ', 'ลาดกระบัง', 'ลาดพร้าว', 'วังทองหลาง',
       'วัฒนา', 'สวนหลวง', 'สะพานสูง', 'สัมพันธวงศ์', 'สาทร', 'สายไหม',
       'หนองจอก', 'หนองแขม', 'หลักสี่', 'ห้วยขวาง', 'Friday', 'Monday',
       'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'],
      dtype='object')

In [6]:
district_columns = [
    'คลองสาน', 'คลองสามวา', 'คลองเตย', 'คันนายาว', 'จตุจักร', 'จอมทอง',
    'ดอนเมือง', 'ดินแดง', 'ดุสิต', 'ตลิ่งชัน', 'ทวีวัฒนา', 'ทุ่งครุ',
    'ธนบุรี', 'บางกอกน้อย', 'บางกอกใหญ่', 'บางกะปิ', 'บางขุนเทียน',
    'บางคอแหลม', 'บางซื่อ', 'บางนา', 'บางบอน', 'บางพลัด', 'บางรัก',
    'บางเขน', 'บางแค', 'บึงกุ่ม', 'ปทุมวัน', 'ประเวศ', 'ป้อมปราบศัตรูพ่าย',
    'พญาไท', 'พระนคร', 'พระโขนง', 'ภาษีเจริญ', 'มีนบุรี', 'ยานนาวา',
    'ราชเทวี', 'ราษฎร์บูรณะ', 'ลาดกระบัง', 'ลาดพร้าว', 'วังทองหลาง',
    'วัฒนา', 'สวนหลวง', 'สะพานสูง', 'สัมพันธวงศ์', 'สาทร', 'สายไหม',
    'หนองจอก', 'หนองแขม', 'หลักสี่', 'ห้วยขวาง'
]

weekday_columns = ['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday']

# Combine both lists
binary_columns = district_columns + weekday_columns

# Convert True/False to 1/0
df[binary_columns] = df[binary_columns].astype(int)

In [7]:
df.head(5)

,Unnamed: 0,coords,timestamp_date,year,duration,type_PM2.5,type_การเดินทาง,type_กีดขวาง,type_คนจรจัด,type_คลอง,...,หนองแขม,หลักสี่,ห้วยขวาง,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday
0,0,"100.66709,13.67891",2021-09-19 14:56:08,2021,274.725706,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,1,"100.52649,13.72060",2021-09-26 05:03:52,2021,252.842593,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,2,"100.59165,13.82280",2021-12-09 12:29:08,2021,245.784444,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,3,"100.64690,13.67083",2021-12-18 14:50:52,2021,1073.560266,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
4,4,"100.65440,13.68158",2021-12-22 10:15:33,2021,180.122581,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [8]:
df["distance"] = pd.DataFrame({
    'distance': np.random.randint(1, 10001, size=len(df))
})

In [9]:
display(df)

,Unnamed: 0,coords,timestamp_date,year,duration,type_PM2.5,type_การเดินทาง,type_กีดขวาง,type_คนจรจัด,type_คลอง,...,หลักสี่,ห้วยขวาง,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,distance
0,0,"100.66709,13.67891",2021-09-19 14:56:08,2021,274.725706,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,7976
1,1,"100.52649,13.72060",2021-09-26 05:03:52,2021,252.842593,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,4010
2,2,"100.59165,13.82280",2021-12-09 12:29:08,2021,245.784444,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,9191
3,3,"100.64690,13.67083",2021-12-18 14:50:52,2021,1073.560266,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,2405
4,4,"100.65440,13.68158",2021-12-22 10:15:33,2021,180.122581,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,3496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
508051,508051,"100.53687,13.78643",2025-01-15 18:56:28,2025,0.312535,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,9250
508052,508052,"100.48659,13.77876",2025-01-15 23:58:03,2025,0.057176,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,334
508053,508053,"100.60907,13.89769",2025-01-15 23:59:13,2025,0.069711,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,372
508054,508054,"100.47857,13.77678",2025-01-16 01:17:56,2025,0.048981,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,4552
508055,508055,"100.56195,13.74103",2025-01-16 01:28:46,2025,0.051076,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,208

In [12]:
def analyze_problem_types(df: pd.DataFrame, problem_types: list[str]):
    df = df.copy()
    df['timestamp_date'] = pd.to_datetime(df['timestamp_date'], errors='coerce')
    df['duration'] = pd.to_numeric(df['duration'], errors='coerce')
    df['distance'] = pd.to_numeric(df['distance'], errors='coerce')
    df.dropna(subset=['timestamp_date', 'duration', 'distance'], inplace=True)

    # --- 1. Quartiles by Day of Week (same as before)
    weekday_cols = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    q_df_by_day = pd.DataFrame(index=weekday_cols, columns=["Q1", "Q2", "Q3", "Q4"])
    mask = df[problem_types].any(axis=1)
    day_df = df[mask]
    for day in weekday_cols:
        d = day_df[day_df[day] == 1]
        if not d.empty:
            q_df_by_day.loc[day] = d['duration'].quantile([0.25, 0.5, 0.75, 1.0]).values

    # --- 2. Average by District (same as before)
    district_cols = [
        'คลองสาน', 'คลองสามวา', 'คลองเตย', 'คันนายาว', 'จตุจักร', 'จอมทอง',
        'ดอนเมือง', 'ดินแดง', 'ดุสิต', 'ตลิ่งชัน', 'ทวีวัฒนา', 'ทุ่งครุ',
        'ธนบุรี', 'บางกอกน้อย', 'บางกอกใหญ่', 'บางกะปิ', 'บางขุนเทียน',
        'บางคอแหลม', 'บางซื่อ', 'บางนา', 'บางบอน', 'บางพลัด', 'บางรัก',
        'บางเขน', 'บางแค', 'บึงกุ่ม', 'ปทุมวัน', 'ประเวศ', 'ป้อมปราบศัตรูพ่าย',
        'พญาไท', 'พระนคร', 'พระโขนง', 'ภาษีเจริญ', 'มีนบุรี', 'ยานนาวา',
        'ราชเทวี', 'ราษฎร์บูรณะ', 'ลาดกระบัง', 'ลาดพร้าว', 'วังทองหลาง',
        'วัฒนา', 'สวนหลวง', 'สะพานสูง', 'สัมพันธวงศ์', 'สาทร', 'สายไหม',
        'หนองจอก', 'หนองแขม', 'หลักสี่', 'ห้วยขวาง'
    ]
    avg_df_by_district = pd.DataFrame(index=district_cols, columns=['Average Duration'])
    for d in district_cols:
        d_df = day_df[day_df[d] == 1]
        avg_df_by_district.loc[d] = d_df['duration'].mean()

    # --- 3. Time Quartiles by Problem Type
    time_grouped = {}
    for pt in problem_types:
        sub = df[(df['timestamp_date'].dt.year >= 2022) & (df['timestamp_date'].dt.year <= 2024)]
        sub = sub[sub[pt] == 1]
        if sub.empty:
            continue
        q_time = (
            sub.set_index('timestamp_date')
            .resample('2W')['duration']
            .agg(Q1=lambda x: x.quantile(0.25),
                 Q2=lambda x: x.quantile(0.5),
                 Q3=lambda x: x.quantile(0.75),
                 Q4=lambda x: x.quantile(1.0))
            .interpolate(method='time')
        )
        time_grouped[pt] = q_time

    # Total (union of all selected types)
    union_df = df[df[problem_types].any(axis=1)]
    union_df = union_df[(union_df['timestamp_date'].dt.year >= 2022) & (union_df['timestamp_date'].dt.year <= 2024)]
    time_grouped["total"] = (
        union_df.set_index('timestamp_date')
        .resample('2W')['duration']
        .agg(Q1=lambda x: x.quantile(0.25),
             Q2=lambda x: x.quantile(0.5),
             Q3=lambda x: x.quantile(0.75),
             Q4=lambda x: x.quantile(1.0))
        .interpolate(method='time')
    )

    # --- 4. Distance Quartiles by Problem Type
    distance_grouped = {}
    for pt in problem_types:
        sub = df[(df['timestamp_date'].dt.year >= 2022) & (df['timestamp_date'].dt.year <= 2024)]
        sub = sub[sub[pt] == 1]
        if sub.empty:
            continue
        max_d = sub['distance'].max()
        bin_width = max_d / 400 if max_d > 0 else 1
        bins = np.arange(0, max_d + bin_width, bin_width)
        sub['distance_bin'] = pd.cut(sub['distance'], bins, right=False)
        q_dist = sub.groupby('distance_bin')['duration'].agg(
            Q1=lambda x: x.quantile(0.25),
            Q2=lambda x: x.quantile(0.5),
            Q3=lambda x: x.quantile(0.75),
            Q4=lambda x: x.quantile(1.0)
        ).interpolate(method='linear')
        distance_grouped[pt] = q_dist

    # Total for distance
    union_df['distance_bin'] = pd.cut(union_df['distance'], np.arange(0, union_df['distance'].max() + bin_width, bin_width), right=False)
    distance_grouped["total"] = union_df.groupby('distance_bin')['duration'].agg(
        Q1=lambda x: x.quantile(0.25),
        Q2=lambda x: x.quantile(0.5),
        Q3=lambda x: x.quantile(0.75),
        Q4=lambda x: x.quantile(1.0)
    ).interpolate(method='linear')

    return q_df_by_day, avg_df_by_district, time_grouped, distance_grouped

In [13]:
types = ['type_น้ำท่วม', 'type_ถนน']
q_day, avg_district, q_time, q_distance = analyze_problem_types(df, types)
display(q_day)
display(avg_district)
display(q_time)
display(q_distance)

C:\Users\asus\AppData\Local\Temp\ipykernel_17188\336668824.py:77: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  q_dist = sub.groupby('distance_bin')['duration'].agg(
C:\Users\asus\AppData\Local\Temp\ipykernel_17188\336668824.py:77: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  q_dist = sub.groupby('distance_bin')['duration'].agg(
C:\Users\asus\AppData\Local\Temp\ipykernel_17188\336668824.py:87: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  distance_grouped["total"] = union_df.groupby('distance_bin')['duration'].agg(

                 Q1        Q2         Q3           Q4
Monday     1.812812  8.370706  61.101424   952.238229
Tuesday      1.7361  8.182072  61.244988   933.277222
Wednesday  1.797011  8.562604   63.79702  1021.690035
Thursday   2.117407  9.141562  62.653333   970.986979
Friday     3.006221  9.978721   64.79281    926.83713
Saturday   2.139569  6.918559  53.524925   922.085845
Sunday     1.896696  8.564097  64.922462   938.691505

                  Average Duration
คลองสาน                  60.319066
คลองสามวา                79.374116
คลองเตย                  60.455172
คันนายาว                 57.790943
จตุจักร                 103.391674
จอมทอง                   51.757393
ดอนเมือง                 39.855442
ดินแดง                   81.270297
ดุสิต                    80.964252
ตลิ่งชัน                 43.388225
ทวีวัฒนา                 43.606412
ทุ่งครุ                  25.308899
ธนบุรี                   33.117643
บางกอกน้อย               55.777868
บางกอกใหญ่               51.395931
บางกะปิ                  65.400373
บางขุนเทียน               37.09182
บางคอแหลม                  46.8662
บางซื่อ                   73.98625
บางนา                    86.728246
บางบอน                    68.59188
บางพลัด                  60.538934
บางรัก                  173.085601
บางเขน                   41.488219
บางแค                    43.935041
บึงกุ่ม                  39.358554
ปทุมวัน                   96.16533
ประเวศ                   50.726697
ป้อมปราบศัตรูพ่าย        43.339686
พญาไท                    80.998342
พระนคร                    54.65647
พระโขนง                  55.558697
ภาษีเจริญ                44.098998
มีนบุรี                  66.791298
ยานนาวา                   81.68127
ราชเทวี                  84.083345
ราษฎร์บูรณะ              32.012726
ลาดกระบัง               153.276334
ลาดพร้าว                 31.516484
วังทองหลาง               48.831381
วัฒนา                    50.783353
สวนหลวง                 109.192471
สะพานสูง                 67.244405
สัมพันธวงศ์              29.656885
สาทร                     54.506315
สายไหม                   52.925109
หนองจอก                  73.129095
หนองแขม                  51.583975
หลักสี่                  57.371322
ห้วยขวาง                119.507078

{'type_น้ำท่วม':                         Q1          Q2          Q3          Q4
 timestamp_date
 2022-02-06      281.742593  281.742593  281.742593  281.742593
 2022-02-20      399.675081  436.067402  472.459722  508.852043
 2022-03-06      517.607569  590.392211  663.176852  735.961493
 2022-03-20      433.998372  498.183289  595.954734  722.848412
 2022-04-03      350.389174  405.974367  528.732616  709.735332
 ...                    ...         ...         ...         ...
 2024-11-10        1.767187    3.912674   13.058137   73.196435
 2024-11-24        1.039763    3.097870    7.883536   56.311030
 2024-12-08        1.024687    2.872535    9.941713   44.965671
 2024-12-22        1.725480    3.216007   13.511238   29.826169
 2025-01-05        1.258854    4.496690    9.586887   18.924549

 [77 rows x 4 columns],
 'type_ถนน':                         Q1          Q2          Q3           Q4
 timestamp_date
 2022-01-02      156.786655  156.786655  156.786655   156.786655
 2022-01-16      262.365813  367.853756  473.341698   578.829641
 2022-01-30      150.278900  156.221192  588.955613  1021.690035
 2022-02-13      532.270020  690.889230  849.508440  1008.127650
 2022-02-27      578.001789  698.026309  848.434396   998.842483
 ...                    ...         ...         ...          ...
 2024-11-17        1.768568    4.885110   15.473573    70.209201
 2024-12-01        1.312795    4.023750   14.290127    57.695417
 2024-12-15        1.513675    3.918935   11.043953    44.126204
 2024-12-29        1.189100    3.818686   10.767347    29.908264
 2025-01-12        2.110072    4.004670    7.606345    16.950660

 [80 rows x 4 columns],
 'total':                         Q1          Q2          Q3           Q4
 timestamp_date
 2022-01-02      156.786655  156.786655  156.786655   156.786655
 2022-01-16      262.365813  367.853756  473.341698   578.829641
 2022-01-30      150.278900  156.221192  588.955613  1021.690035
 2022-02-13      327.696701  373.650810  690.889230  1008.127650
 2022-02-27      444.822928  444.822928  444.822928   444.822928
 ...                    ...         ...         ...          ...
 2024-11-17        1.756036    4.763819   14.831580    70.209201
 2024-12-01        1.319789    3.990093   14.040240    57.695417
 2024-12-15        1.508472    3.898241   11.162477    44.126204
 2024-12-29        1.198125    3.816146   10.760095    29.908264
 2025-01-12        2.111325    3.947789    7.587433    16.950660

 [80 rows x 4 columns]}

{'type_น้ำท่วม':                          Q1         Q2         Q3          Q4
 distance_bin
 [0.0, 25.0)        2.587176  14.281435  98.925324  728.866285
 [25.0, 50.0)       2.096134   5.878310  36.097836  780.776458
 [50.0, 75.0)       1.252882   5.492766  29.202188  607.185938
 [75.0, 100.0)      1.763044   4.593762  17.338154  398.200718
 [100.0, 125.0)     1.123131   4.066366  29.893319  454.101204
 ...                     ...        ...        ...         ...
 [9875.0, 9900.0)   1.947049   8.879560  56.951493  385.555116
 [9900.0, 9925.0)   1.407520   6.088594  28.524031  385.086447
 [9925.0, 9950.0)   0.979352   6.040231  55.450185  505.995150
 [9950.0, 9975.0)   1.507951   4.994282  18.153970  419.857662
 [9975.0, 10000.0)  1.751725   7.909624  34.364604  512.934988

 [400 rows x 4 columns],
 'type_ถนน':                          Q1        Q2         Q3          Q4
 distance_bin
 [0.0, 25.0)        2.523611  8.025978  57.839198  728.866285
 [25.0, 50.0)       2.064468  8.924630  64.282523  737.984896
 [50.0, 75.0)       1.841146  7.000405  66.435336  761.950312
 [75.0, 100.0)      1.921759  7.895648  62.367581  832.553519
 [100.0, 125.0)     1.953380  8.690694  74.690949  896.360544
 ...                     ...       ...        ...         ...
 [9875.0, 9900.0)   2.345252  8.819456  65.217711  868.621030
 [9900.0, 9925.0)   2.106484  9.909902  59.194835  716.980312
 [9925.0, 9950.0)   1.970709  8.780457  82.310324  574.675451
 [9950.0, 9975.0)   1.959803  8.162454  59.902020  871.653356
 [9975.0, 10000.0)  2.005587  7.696742  69.184413  730.642037

 [400 rows x 4 columns],
 'total':                          Q1        Q2         Q3          Q4
 distance_bin
 [0.0, 25.0)        2.513125  8.373565  60.769838  728.866285
 [25.0, 50.0)       2.020804  8.100382  58.488843  780.776458
 [50.0, 75.0)       1.841146  6.977517  59.959170  761.950312
 [75.0, 100.0)      1.826840  7.468843  59.161626  832.553519
 [100.0, 125.0)     1.844387  7.826840  69.848241  896.360544
 ...                     ...       ...        ...         ...
 [9875.0, 9900.0)   2.294826  8.966343  65.157488  868.621030
 [9900.0, 9925.0)   2.078877  9.504786  57.927280  716.980312
 [9925.0, 9950.0)   1.933657  8.423177  76.974282  574.675451
 [9950.0, 9975.0)   1.946461  7.794300  56.173649  871.653356
 [9975.0, 10000.0)  2.019502  7.821817  59.734745  730.642037

 [400 rows x 4 columns]}

In [15]:
import plotly.colors as pc

min_val = avg_district['Average Duration'].min()
max_val = avg_district['Average Duration'].max()
avg_district['normalized'] = (avg_district['Average Duration'] - min_val) / (max_val - min_val)

colorscale = pc.get_colorscale('YlOrRd')  

def get_color(value, scale=colorscale):
    return pc.find_intermediate_color(
        scale[0][1],
        scale[-1][1],
        value,
        colortype='rgb'
    )

def rgb_to_hex(rgb_str):
    parts = rgb_str.replace('rgb(', '').replace(')', '').split(',')
    rgb = [round(float(x)) for x in parts]
    return '#%02x%02x%02x' % tuple(rgb)

color_map = {
    district: rgb_to_hex(get_color(norm_val))
    for district, norm_val in avg_district['normalized'].items()
}

print(color_map)

{'คลองสาน': '#e1c3a5', 'คลองสามวา': '#d1a28f', 'คลองเตย': '#e1c2a5', 'คันนายาว': '#e3c7a8', 'จตุจักร': '#bc7874', 'จอมทอง': '#e8d1ae', 'ดอนเมือง': '#f2e6bc', 'ดินแดง': '#cf9e8d', 'ดุสิต': '#cf9f8d', 'ตลิ่งชัน': '#efe0b8', 'ทวีวัฒนา': '#efdfb7', 'ทุ่งครุ': '#ffffcc', 'ธนบุรี': '#f8f2c3', 'บางกอกน้อย': '#e5caaa', 'บางกอกใหญ่': '#e9d2af', 'บางกะปิ': '#ddba9f', 'บางขุนเทียน': '#f5ebbf', 'บางคอแหลม': '#ecdab4', 'บางซื่อ': '#d5ab95', 'บางนา': '#ca9587', 'บางบอน': '#dab49b', 'บางพลัด': '#e1c2a4', 'บางรัก': '#800026', 'บางเขน': '#f1e3ba', 'บางแค': '#efdfb7', 'บึงกุ่ม': '#f3e7bc', 'ปทุมวัน': '#c2857c', 'ประเวศ': '#e9d3af', 'ป้อมปราบศัตรูพ่าย': '#f0e0b8', 'พญาไท': '#cf9f8d', 'พระนคร': '#e6ccab', 'พระโขนง': '#e5cbaa', 'ภาษีเจริญ': '#efdfb7', 'มีนบุรี': '#dbb79d', 'ยานนาวา': '#cf9e8d', 'ราชเทวี': '#cc9a8a', 'ราษฎร์บูรณะ': '#f9f3c4', 'ลาดกระบัง': '#91223c', 'ลาดพร้าว': '#faf4c5', 'วังทองหลาง': '#ebd6b2', 'วัฒนา': '#e9d3af', 'สวนหลวง': '#b76e6e', 'สะพานสูง': '#dbb79d', 'สัมพันธวงศ์': '#fbf7c7', 'สาทร': '#e6cdab', 'สายไหม': '#e7cfad', 'หนองจอก': '#d6ac96', 'หนองแขม': '#e8d2ae', 'หลักสี่': '#e3c8a8', 'ห้วยขวาง': '#ae5c62'}

In [18]:
def analyze_duration_in_period(df: pd.DataFrame, start_date: str, end_date: str):
    # Convert and filter by date range
    df = df.copy()
    df['timestamp_date'] = pd.to_datetime(df['timestamp_date'], errors='coerce')
    df['duration'] = pd.to_numeric(df['duration'], errors='coerce')
    df['distance'] = pd.to_numeric(df['distance'], errors='coerce')
    df.dropna(subset=['timestamp_date', 'duration', 'distance'], inplace=True)

    mask = (df['timestamp_date'] >= start_date) & (df['timestamp_date'] <= end_date)
    df = df.loc[mask]

    # --------------------------------
    # 1. Quartiles by day of week
    weekday_cols = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
    q_by_day = pd.DataFrame(index=weekday_cols, columns=['Q1', 'Q2', 'Q3', 'Q4'])
    for day in weekday_cols:
        day_df = df[df[day] == 1]
        if not day_df.empty:
            q_by_day.loc[day] = day_df['duration'].quantile([0.25, 0.5, 0.75, 1.0]).values

    # --------------------------------
    # 2. Quartiles by problem type + total
    problem_cols = [col for col in df.columns if col.startswith("type_")]
    q_by_type = pd.DataFrame(index=problem_cols + ['total'], columns=['Q1', 'Q2', 'Q3', 'Q4'])
    for col in problem_cols:
        p_df = df[df[col] == 1]
        if not p_df.empty:
            q_by_type.loc[col] = p_df['duration'].quantile([0.25, 0.5, 0.75, 1.0]).values

    # Add total row
    if not df.empty:
        q_by_type.loc['total'] = df['duration'].quantile([0.25, 0.5, 0.75, 1.0]).values

    # --------------------------------
    # 3. Mean by district
    district_cols = [
        'คลองสาน', 'คลองสามวา', 'คลองเตย', 'คันนายาว', 'จตุจักร', 'จอมทอง',
        'ดอนเมือง', 'ดินแดง', 'ดุสิต', 'ตลิ่งชัน', 'ทวีวัฒนา', 'ทุ่งครุ',
        'ธนบุรี', 'บางกอกน้อย', 'บางกอกใหญ่', 'บางกะปิ', 'บางขุนเทียน',
        'บางคอแหลม', 'บางซื่อ', 'บางนา', 'บางบอน', 'บางพลัด', 'บางรัก',
        'บางเขน', 'บางแค', 'บึงกุ่ม', 'ปทุมวัน', 'ประเวศ', 'ป้อมปราบศัตรูพ่าย',
        'พญาไท', 'พระนคร', 'พระโขนง', 'ภาษีเจริญ', 'มีนบุรี', 'ยานนาวา',
        'ราชเทวี', 'ราษฎร์บูรณะ', 'ลาดกระบัง', 'ลาดพร้าว', 'วังทองหลาง',
        'วัฒนา', 'สวนหลวง', 'สะพานสูง', 'สัมพันธวงศ์', 'สาทร', 'สายไหม',
        'หนองจอก', 'หนองแขม', 'หลักสี่', 'ห้วยขวาง'
    ]
    mean_by_district = pd.DataFrame(index=district_cols, columns=['Mean Duration'])
    for dist in district_cols:
        d_df = df[df[dist] == 1]
        if not d_df.empty:
            mean_by_district.loc[dist] = d_df['duration'].mean()

    # --------------------------------
    # 4. Quartiles over distance (binned)
    max_dist = df['distance'].max()
    bin_width = max_dist / 400
    bins = np.arange(0, max_dist + bin_width, bin_width)
    df['distance_bin'] = pd.cut(df['distance'], bins, right=False)

    q_by_distance = df.groupby('distance_bin')['duration'].agg(
        Q1=lambda x: x.quantile(0.25),
        Q2=lambda x: x.quantile(0.5),
        Q3=lambda x: x.quantile(0.75),
        Q4=lambda x: x.quantile(1.0)
    ).interpolate(method='linear')

    return q_by_day, q_by_type, mean_by_district, q_by_distance

In [25]:
start = "2023-01-01"
end = "2023-12-31"
q_day, q_type, mean_district, q_distance = analyze_duration_in_period(df, start, end)
display(q_day)
display(q_type)
display(mean_district)
display(q_distance)

C:\Users\asus\AppData\Local\Temp\ipykernel_17188\352381317.py:60: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  q_by_distance = df.groupby('distance_bin')['duration'].agg(

                 Q1        Q2         Q3          Q4
Monday     1.780729  8.937859   77.48941   737.99081
Tuesday    1.686846  8.293472  75.660593  730.086123
Wednesday  1.777541  8.878756  76.991085  741.613958
Thursday   1.975891   9.08173  73.780113  742.001007
Friday     2.974167  9.986227  76.292807  726.648299
Saturday   2.152066   6.33463   64.08765  719.467535
Sunday     1.701834  6.894387  60.151317  744.703773

                         Q1          Q2          Q3          Q4
type_PM2.5         1.958704    6.379433   26.105058  663.174444
type_การเดินทาง    2.981102   16.271186  133.559392  609.675579
type_กีดขวาง       1.451973    5.976713   59.787928  715.518148
type_คนจรจัด       1.136745    4.017257   16.736047  623.577569
type_คลอง           1.96542    6.043704   46.130515  744.646887
type_ความปลอดภัย   2.774806    15.68798  131.090396  736.659387
type_ความสะอาด     0.975313    2.797188   10.043125  735.443519
type_จราจร         3.021997   30.648698  160.986927  702.977025
type_ต้นไม้        1.713704    4.889699   18.899468  684.754063
type_ถนน           2.136898   10.159213   80.409201  744.703773
type_ทางเท้า       1.666059    5.518692     38.8289   737.99081
type_ท่อระบายน้ำ   1.798079    5.888275   30.683843  693.805903
type_น้ำท่วม       1.138736     4.82055   23.878437    691.6864
type_ป้าย          0.923733     3.30184   31.910613  698.337025
type_ป้ายจราจร     8.614473   68.932303  358.577766  678.506956
type_ร้องเรียน     2.348955    9.856632   65.263466  735.023669
type_สอบถาม        2.089358    8.113362    51.85967  679.235625
type_สะพาน         2.715839   18.882824  160.526314  744.646887
type_สัตว์จรจัด    4.264294    22.64559  123.665995  742.001007
type_สายไฟ         1.881302    7.078472   66.585613  694.055845
type_ห้องน้ำ       2.771065   10.008009   35.845718  681.681852
type_เสนอแนะ       1.936644    8.010521   52.208802  677.553206
type_เสียงรบกวน    2.798993    8.420162   35.588877  735.443519
type_แสงสว่าง     15.067763  109.723999  290.372705  744.646887
total              1.952474    8.499508   72.841672  744.703773

                  Mean Duration
คลองสาน                75.67998
คลองสามวา             86.721327
คลองเตย               73.076199
คันนายาว              64.652541
จตุจักร               90.882247
จอมทอง                51.584628
ดอนเมือง              47.923071
ดินแดง                84.567599
ดุสิต                  78.15175
ตลิ่งชัน              45.282068
ทวีวัฒนา              61.100317
ทุ่งครุ               41.524965
ธนบุรี                39.790904
บางกอกน้อย            57.066305
บางกอกใหญ่            61.976141
บางกะปิ               77.985959
บางขุนเทียน           39.114658
บางคอแหลม             40.163333
บางซื่อ               88.731248
บางนา                 99.447118
บางบอน                63.844956
บางพลัด               52.031681
บางรัก               188.051592
บางเขน                 52.52932
บางแค                 40.274247
บึงกุ่ม               49.783668
ปทุมวัน               96.771749
ประเวศ                65.606241
ป้อมปราบศัตรูพ่าย     54.444262
พญาไท                 96.115482
พระนคร                73.093983
พระโขนง               78.480286
ภาษีเจริญ             47.493792
มีนบุรี               73.237486
ยานนาวา                72.44524
ราชเทวี               88.897219
ราษฎร์บูรณะ            42.51079
ลาดกระบัง            104.266148
ลาดพร้าว              41.612865
วังทองหลาง            47.585056
วัฒนา                 59.707858
สวนหลวง               91.485411
สะพานสูง              75.475339
สัมพันธวงศ์           37.330459
สาทร                  46.711223
สายไหม                58.365502
หนองจอก              101.875091
หนองแขม               57.113089
หลักสี่               49.843965
ห้วยขวาง             111.449388

                         Q1         Q2          Q3          Q4
distance_bin
[0.0, 25.0)        2.218736   8.953437   72.153773  705.185463
[25.0, 50.0)       2.811273  11.815000  110.145289  678.111933
[50.0, 75.0)       2.011589   7.340185   87.959219  650.898368
[75.0, 100.0)      1.830301   6.946956   53.187963  704.916840
[100.0, 125.0)     2.109546  10.071366  101.265561  668.876215
...                     ...        ...         ...         ...
[9875.0, 9900.0)   2.062778   9.022442   89.196128  655.869745
[9900.0, 9925.0)   1.911965   9.972269   98.203683  693.805903
[9925.0, 9950.0)   1.947002   8.411204   92.722616  567.395799
[9950.0, 9975.0)   1.808342   6.264340   51.886181  667.995451
[9975.0, 10000.0)  1.995868   6.643542   51.226678  730.642037

[400 rows x 4 columns]

In [26]:
q_type.index = q_type.index.str.replace('^type_', '', regex=True)
quartiles = q_type.to_dict(orient='index')
print(quartiles)

{'PM2.5': {'Q1': 1.958703703703704, 'Q2': 6.37943287037037, 'Q3': 26.10505787037037, 'Q4': 663.1744444444445}, 'การเดินทาง': {'Q1': 2.981102430555555, 'Q2': 16.271186342592593, 'Q3': 133.55939236111112, 'Q4': 609.6755787037038}, 'กีดขวาง': {'Q1': 1.4519733796296297, 'Q2': 5.976712962962963, 'Q3': 59.78792824074074, 'Q4': 715.5181481481482}, 'คนจรจัด': {'Q1': 1.1367447916666666, 'Q2': 4.017256944444444, 'Q3': 16.7360474537037, 'Q4': 623.5775694444444}, 'คลอง': {'Q1': 1.9654195601851854, 'Q2': 6.043703703703703, 'Q3': 46.130515046296296, 'Q4': 744.6468865740741}, 'ความปลอดภัย': {'Q1': 2.774806134259259, 'Q2': 15.687980324074076, 'Q3': 131.09039641203705, 'Q4': 736.6593865740741}, 'ความสะอาด': {'Q1': 0.9753125, 'Q2': 2.7971875, 'Q3': 10.043125, 'Q4': 735.4435185185185}, 'จราจร': {'Q1': 3.021996527777777, 'Q2': 30.64869791666667, 'Q3': 160.98692708333334, 'Q4': 702.977025462963}, 'ต้นไม้': {'Q1': 1.7137037037037035, 'Q2': 4.889699074074074, 'Q3': 18.899467592592597, 'Q4': 684.7540625}, 'ถนน': {'Q1': 2.1368981481481484, 'Q2': 10.159212962962965, 'Q3': 80.40920138888889, 'Q4': 744.7037731481481}, 'ทางเท้า': {'Q1': 1.6660590277777776, 'Q2': 5.51869212962963, 'Q3': 38.82890046296296, 'Q4': 737.9908101851852}, 'ท่อระบายน้ำ': {'Q1': 1.7980787037037038, 'Q2': 5.888275462962963, 'Q3': 30.683842592592594, 'Q4': 693.8059027777778}, 'น้ำท่วม': {'Q1': 1.1387355324074073, 'Q2': 4.820549768518519, 'Q3': 23.878437499999997, 'Q4': 691.686400462963}, 'ป้าย': {'Q1': 0.923732638888889, 'Q2': 3.301840277777778, 'Q3': 31.910613425925927, 'Q4': 698.337025462963}, 'ป้ายจราจร': {'Q1': 8.61447337962963, 'Q2': 68.93230324074074, 'Q3': 358.57776620370373, 'Q4': 678.5069560185185}, 'ร้องเรียน': {'Q1': 2.348955439814815, 'Q2': 9.856631944444445, 'Q3': 65.2634664351852, 'Q4': 735.0236689814815}, 'สอบถาม': {'Q1': 2.089357638888889, 'Q2': 8.113362268518518, 'Q3': 51.8596701388889, 'Q4': 679.235625}, 'สะพาน': {'Q1': 2.7158391203703705, 'Q2': 18.88282407407408, 'Q3': 160.5263136574074, 'Q4': 744.6468865740741}, 'สัตว์จรจัด': {'Q1': 4.264293981481481, 'Q2': 22.64559027777777, 'Q3': 123.66599537037035, 'Q4': 742.0010069444444}, 'สายไฟ': {'Q1': 1.881302083333333, 'Q2': 7.078472222222222, 'Q3': 66.58561342592591, 'Q4': 694.0558449074074}, 'ห้องน้ำ': {'Q1': 2.771064814814815, 'Q2': 10.00800925925926, 'Q3': 35.84571759259259, 'Q4': 681.6818518518519}, 'เสนอแนะ': {'Q1': 1.9366435185185185, 'Q2': 8.010520833333333, 'Q3': 52.208802083333325, 'Q4': 677.5532060185185}, 'เสียงรบกวน': {'Q1': 2.798993055555556, 'Q2': 8.420162037037036, 'Q3': 35.588877314814816, 'Q4': 735.4435185185185}, 'แสงสว่าง': {'Q1': 15.067763310185185, 'Q2': 109.72399884259261, 'Q3': 290.3727054398148, 'Q4': 744.6468865740741}, 'total': {'Q1': 1.9524739583333335, 'Q2': 8.499508101851852, 'Q3': 72.84167245370371, 'Q4': 744.7037731481481}}

In [53]:
import pandas as pd
import numpy as np
from scipy.interpolate import interp1d

def analyze_by_districts(df, districts):
    # Filter rows that match any of the given districts
    district_mask = df[districts].sum(axis=1) > 0
    filtered_df = df[district_mask].copy()

    # Get list of problem types and weekdays
    problem_types = [col for col in df.columns if col.startswith("type_")]
    weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

    ### 1. Quartiles of duration per problem type ###
    q_problem = filtered_df.groupby(
        lambda x: next((col for col in problem_types if filtered_df.loc[x, col] == 1), None)
    )['duration'].quantile([0.25, 0.5, 0.75]).unstack().rename(columns={0.25: 'Q1', 0.5: 'Q2', 0.75: 'Q3'})

    # Handle multiple problem types per row
    rows = []
    for t in problem_types:
        subset = filtered_df[filtered_df[t] == 1]
        if not subset.empty:
            q = subset['duration'].quantile([0.25, 0.5, 0.75])
            rows.append((t, *q.values))
    df_q1 = pd.DataFrame(rows, columns=['ProblemType', 'Q1', 'Q2', 'Q3'])
    total_q = filtered_df['duration'].quantile([0.25, 0.5, 0.75])
    df_q1.loc[len(df_q1)] = ['Total', *total_q.values]

    ### 2. Quartiles of duration per weekday ###
    rows = []
    for day in weekdays:
        subset = filtered_df[filtered_df[day] == 1]
        if not subset.empty:
            q = subset['duration'].quantile([0.25, 0.5, 0.75])
            rows.append((day, *q.values))
    df_q2 = pd.DataFrame(rows, columns=['Weekday', 'Q1', 'Q2', 'Q3'])

    ### 3. Quartiles of duration over time (uniformly sampled) ###
    time_min, time_max = filtered_df['timestamp_date'].min(), filtered_df['timestamp_date'].max()
    time_range = pd.date_range(start=time_min, end=time_max, periods=401)
    df_time = filtered_df[['timestamp_date', 'duration']].copy()
    df_time = df_time.sort_values('timestamp_date')
    filtered_df['timestamp_date'] = pd.to_datetime(filtered_df['timestamp_date'])

    # Interpolation function over time
    filtered_df['timestamp_date'] = pd.to_datetime(filtered_df['timestamp_date'])

    # Now get the min and max (after conversion!)
    time_min = pd.to_datetime(df_time['timestamp_date'].min())
    time_max = pd.to_datetime(df_time['timestamp_date'].max())
    time_points = np.linspace(0, (time_max - time_min).total_seconds(), 401)
    df_q3 = pd.DataFrame({'timestamp': time_range})
    for q in [0.25, 0.5, 0.75]:
        grouped = df_time.groupby('timestamp_date')['duration'].quantile(q)
        grouped = grouped.reset_index()
        grouped['timestamp_date'] = pd.to_datetime(grouped['timestamp_date'])  # Ensure datetime
        grouped['timestamp_num'] = (grouped['timestamp_date'] - pd.Timestamp(time_min)).dt.total_seconds()
        f = interp1d(grouped['timestamp_num'], grouped['duration'], kind='linear', fill_value='extrapolate')
        df_q3[f'Q{int(q*4)}'] = f(time_points)

    ### 4. Quartiles of duration over distance (uniformly sampled) ###
    dist_min, dist_max = filtered_df['distance'].min(), filtered_df['distance'].max()
    dist_points = np.linspace(dist_min, dist_max, 401)
    df_q4 = pd.DataFrame({'distance': dist_points})
    for q in [0.25, 0.5, 0.75]:
        grouped = filtered_df.groupby('distance')['duration'].quantile(q).reset_index()
        f = interp1d(grouped['distance'], grouped['duration'], kind='linear', fill_value='extrapolate')
        df_q4[f'Q{int(q*4)}'] = f(dist_points)

    return df_q1, df_q2, df_q3, df_q4

In [ ]:
districts = ['คลองสาน', 'คลองเตย', 'จตุจักร']
q_type, q_day, q_time, q_distance = analyze_by_districts(df, districts)
display(df_q1)
display(df_q2)
display(df_q3)
display(df_q4)

         ProblemType         Q1          Q2          Q3
0         type_PM2.5   2.991748    9.037963   23.853886
1    type_การเดินทาง   2.954994   13.429161   78.753223
2       type_กีดขวาง   1.032894    5.017812   51.056759
3       type_คนจรจัด   0.846505    2.587130    9.982616
4          type_คลอง   3.125000   13.712535  108.186366
5   type_ความปลอดภัย   2.313397   13.331852  112.493605
6     type_ความสะอาด   1.208426    5.306852   26.885394
7         type_จราจร   1.728987   13.187662  127.914502
8        type_ต้นไม้   2.175194    7.102031   36.925162
9           type_ถนน   2.674502   13.115833   90.620584
10      type_ทางเท้า   1.444190    5.752373   85.186250
11  type_ท่อระบายน้ำ   2.017266    7.006331   55.574806
12      type_น้ำท่วม   1.966696   12.046296  119.975428
13         type_ป้าย   1.221215    5.721215   36.979433
14    type_ป้ายจราจร   5.242037   15.235787   80.340394
15    type_ร้องเรียน   2.641123   10.043160   44.661322
16       type_สอบถาม   1.565318    9.826343   36.283108
17        type_สะพาน   3.128009   30.039583  203.550223
18   type_สัตว์จรจัด   7.302512   19.734427   64.892242
19        type_สายไฟ   1.945174    8.916817  142.937714
20      type_ห้องน้ำ   1.255738    5.940174   25.374216
21      type_เสนอแนะ   1.922931   10.907442   73.416895
22   type_เสียงรบกวน   3.669028   11.000289   33.763634
23     type_แสงสว่าง  23.689337  105.753559  272.888035
24             Total   2.029667   10.970677   94.903061

     Weekday        Q1         Q2          Q3
0     Monday  1.820162  10.471366   94.661134
1    Tuesday  1.762066   9.906134   98.679745
2  Wednesday  1.776528   9.331528   84.636319
3   Thursday  2.856380  11.909306   93.538255
4     Friday  2.824792  11.102940   88.246568
5   Saturday  2.588993  11.244363  107.535949
6     Sunday  1.883623  10.340069  107.379595

                     timestamp          Q1          Q2          Q3
0   2022-02-15 02:47:41.000000  749.379525  749.379525  749.379525
1   2022-02-17 18:41:58.942500  749.449936  749.449936  749.449936
2   2022-02-20 10:36:16.885000  749.520347  749.520347  749.520347
3   2022-02-23 02:30:34.827500  749.590757  749.590757  749.590757
4   2022-02-25 18:24:52.770000  749.661168  749.661168  749.661168
..                         ...         ...         ...         ...
396 2025-01-04 13:10:06.230000    3.687467    3.687467    3.687467
397 2025-01-07 05:04:24.172500    1.516428    1.516428    1.516428
398 2025-01-09 20:58:42.115000    2.607249    2.607249    2.607249
399 2025-01-12 12:53:00.057500    1.358034    1.358034    1.358034
400 2025-01-15 04:47:18.000000    0.160278    0.160278    0.160278

[401 rows x 4 columns]

       distance         Q1          Q2          Q3
0        1.0000   1.937937    6.459132   21.338686
1       25.9975  10.870725   59.701125  257.181726
2       50.9950   1.617933    8.058286   15.200609
3       75.9925   2.284584    8.836520   12.555371
4      100.9900   1.616650    2.173026   58.315332
..          ...        ...         ...         ...
396   9900.0100   7.851571   15.009299  285.750351
397   9925.0075   0.652117    6.079322   39.298658
398   9950.0050   4.523091    5.893060   12.807493
399   9975.0025   1.839957  103.720631  207.099581
400  10000.0000  20.746400  191.862523  256.498093

[401 rows x 4 columns]